<!DOCTYPE html>
<html>
<head>
    {{> header}}
</head>

<body>

{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-link"></span> {{post.title}}</h3>
            <img src="{{post.featuredImage.url}}" width="200" />
            {{{post.content}}}
        </div>
    </div>
</div>


</body>
</html>
